/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*TYPOGRAPHY*/

body{
    background-color: #676767;
    color: #E4E0D6;
    font-family: "Inter Tight", sans-serif;
    font-size: 100%; 
    min-height: 100%;
}

h1{
    font-size: 2.25em; 
    font-weight: bolder;
    padding-bottom: 10px;
}

h2{
    font-size: 2em; 
    font-weight: bold;
    text-align: center;
}

h3{
    font-size: 1em; 
    font-weight: bold;
}

p{
    line-height: 1.2;
    padding-bottom: 10px;
}


/*TYPOGRAPHY*/

img{
    max-width: 100%;
    height: auto;
}

.container{
    background-color: #100100;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
}

header{
    flex: 1 0 100%; 
    height: 75px;
    background-color: #100100;
}

header img{
    margin-left: 50px;
    margin-bottom: 20px;
    align-items: center;
}

nav{
    background-color: #100100;
    flex: 1 0 100%;
    padding-bottom: 7px;
}

nav ul{
    list-style-type: none;
    display: flex; 
    justify-content: left;
    padding-left: 50px;
    gap: 25px;
    font-size: 2em;
    font-weight: bolder;
}

nav a:link, nav a:visited{
    text-decoration: none;
    color: #E4E0D6; 
    display: block; 
}


nav a:hover, nav:active{
    color: violet
}


main{
    background-color: #100100;
    flex: 1 1 70%; 
    padding: 25px 10px 5px 50px;
    max-width: 600px;
    margin: 0 auto;
    min-height: 800px;
}



/*Index/About Page*/

    main h1{
        color: #E4E0D6;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 50px;
    }

    .paragraph-index {
        font-weight: normal;
        line-height: 160%;
        font-size: 1.5em;
        margin-left: 50px;
        margin-bottom: 5px;
    }

    aside {
        background-color: #100100;
        flex: 1 1 30%; 
        padding: 25px 20px 15px 30px;
        margin-right: 50px;
        justify-content: center;
    }

    aside img {
        border-radius: 10%;
    }



/*Contact Page*/

    .main contact {
        align-items: center;
        justify-items: center;
    }

    .paragraph-contact {
        font-weight: normal;
        line-height: 250%;
        padding-top: 50px;
        font-size: 1.25em;
        text-align: center;
    }

    .underline {
        text-decoration: underline;
        text-underline-offset: 9px;
        text-decoration-thickness: 1px;
    }

    .social-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-items: center;
        margin-top: 50px;
    }

    .social-links img {
        width: 50px;
        height: auto;
    }



/*Portfolio Page*/

    .main portfolio {
        align-items: center;
        justify-content: center;
        justify-items: center;

    }

    .pf-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin: 0 auto;
        align-items: center;
        justify-items: center;
        padding-top: 25px;
    }

    .square {
        aspect-ratio: 1/1;
        background-color: #E4E0D6;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        border-radius: 17%;
    }

    .square img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding: 25px;
    }

    .pf-item {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pf-caption {
        margin-top: 30px;
        font-size: 1em;
        color: #E4E0D6;
        font-weight: bold;
    }




/*Portfolio Examples, the same for all three examples */

    .pf-example {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-top: 25px;
    }

    .pf-example img {
        width: 50%;
        height: auto;
        border-radius: 8px;
        object-fit: contain;
    }

    .text-columns {
        display: flex;
        justify-content: center;
        gap: 60px;
        padding: 40px 5px;
        max-width: 1200px;
        margin: 0;
    }

    .column {
        flex: 1;
        max-width: 800px;
    }

    .column h3 {
        margin-bottom: 1em;
    }

    .column p {
        line-height: 150%;
        margin-bottom: 1em;
        font-size: 0.5em;
    }



footer{
    background-color: #100100;
    flex: 1 0 100%;
    padding: 10px;
}










/* media queries for tablet screens 800px or smaller */
@media screen and (max-width: 800px){

    body{
        background-color: #100100;
    }

    header{
        
        height: 100px;
        background-color: #100100;
    }

    nav a:link, nav a:visited{
    
        padding: 10px 20px;
        margin-right: 20px;
    
}

main{

    flex: 1 1 60%; 
}

aside{
    flex: 1 1 40%; 

}



} 

/* media queries for mobile screens 600px or smaller */
@media screen and (max-width: 600px){

    body{
        background-color: #100100;
    }

    header{
        
        height: 50px;
        background-color: #100100;
        
    }

    .container{
        flex-direction: column;
    }

    nav ul{
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

    nav a:link, nav a:visited{

    width: 100%;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 10px;
}

main, aside{
    padding: 20px;
}

}

footer{
    text-align: center;

}